@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome to Applabs Systems</h1>
    <p class="lead"></p>
    <p><a href="http://applabsystems.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ALS Java/J2EE Services</h2>
        <p>
            Web application development using J2EE frameworks
            Application migration to Java/J2EE
            Migration of application servers
            Java custom software product development
            Java application development consulting
        </p>
        <p><a class="btn btn-default" href="http://applabsystems.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DOT NET Services</h2>
        <p>
            NET stand-alone and web based application development
            Migration of both desktop and web applications to .NET platform
            NET custom software development
            Legacy .NET applications updating, enhancement and support
            Mobile applications development (based on .NET Compact Framework)
            NET application development consulting
            Please Contact us to learn more about our DOT NET development services..
        </p>
        <p><a class="btn btn-default" href="http://applabsystems.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why ALS</h2>
        <p>   We work with organizations of all sizes to provide, simple, flexible, cost-effective solutions that are tailored to each client’s business models. We provide end-to-end services in terms of project management, systems implementation and support. Through customer spe
            cific strategies, operational efficiency and our dedicated and experienced consulting team we go above and beyond to help clients’ craft and execute winning business models.
        </p>
        <p><a class="btn btn-default" href="http://applabsystems.com/">Learn more &raquo;</a></p>
    </div>
